.nav {
  grid-area: n;
  background-color: aqua;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.item a {
  color: white;
  text-decoration: none;
  /* padding-top: 40px; */
  /* // Why it doesnt work? */
}
/* nav >div{
 color: red;
  background-color: pink;
} */
.item a.activeLink {
  color: gold;
}

.friends a.activeLink {
  color: gold;
}

.friends {
  margin-top: 60px;
}
.friends img {
  width: 30px;
  border-radius: 20px;
  }

  .friends span{
    font-size: 12px;
  }

.friends > a {
  color: white;
  margin-top: 60px;
  text-decoration: none;
}
