.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.abonents {
    padding: 10px;
}

.abonentsItem img {

    width: 40px;
    border-radius: 30px;
}

.abonentsItem .active {
    color: rgb(255, 0, 183);
}

.messages {
    padding: 10px;

}

.messagesItem {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}

.DimMessages {
    padding-left: 0%;

}

.ElseMessages {
    color: red;
    padding-right: 0cm;
}
